input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.container {
    padding: calc(2 * var(--index)) calc(3 * var(--index));
    background-color: var(--mainBackColorDarkHover);
    color: var(--whiteColor);
    border-radius: 25px;
}